@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='crimson'] {
	--theme-rounded-base: 8px;
	--theme-rounded-container: 8px;
}

/* pixeled font */
@font-face {
	font-family: 'Pixeled';
	src: url('/fonts/PixelifySans.ttf');
	font-display: swap;
}

.pixeled {
	font-family: Pixeled
}